Repository Swizzmaster/kubernetes: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_unit_1.20, test_unit_1.21, test_unit_1.22, test_unit_1.23

.gitlab-ci.yml:

.script_git_config: &script_git_config
  - git config --global user.email "eks-dataplane-team@amazon.com"
  - git config --global user.name "EKSKubernetesPatches pipeline"
  - mkdir -p ./kubernetes/

.script_apply_patches: &script_apply_patches
  - pushd ./kubernetes/ && git reset --hard && git clean -df && popd
  - ./hack/apply_patches.sh ./patches/$MINOR_VERSION/ ./kubernetes/

default:
  image: bitnami/git
  before_script:
    - *script_git_config
  cache:
    key: $MINOR_VERSION
    paths:
      - kubernetes/

.build_update_patches_base_version:
  stage: build
  script:
    - ./hack/update_patches_base_version.sh ./patches/$MINOR_VERSION/ ./kubernetes/
    - ./hack/create_gitlab_merge_request.sh ./patches/$MINOR_VERSION/ $MINOR_VERSION
  only:
    - schedules

.test_apply_patches:
  stage: test
  script:
    - *script_apply_patches

.test_unit:
  image: ubuntu:latest
  before_script:
    - apt-get update && apt-get install git -q -y
    - *script_git_config
  variables:
    # GitLab CI uses the Kubernetes executor which sets these, but they
    # interfere with tests like TestKubeConfigFile
    KUBERNETES_SERVICE_HOST: ""
    KUBERNETES_SERVICE_PORT: ""
  stage: test
  script:
    - *script_apply_patches
    - ./hack/install_unit_test_dependencies.sh ./kubernetes/
    - export PATH=/usr/local/go/bin:$PATH
    - pushd ./kubernetes/ && make test KUBE_RACE=-race KUBE_TIMEOUT=--timeout=300s && popd

build_1.20:
  extends: .build_update_patches_base_version
  variables:
    MINOR_VERSION: "1.20"

test_apply_patches_1.20:
  extends: .test_apply_patches
  variables:
    MINOR_VERSION: "1.20"

test_unit_1.20:
  extends: .test_unit
  variables:
    MINOR_VERSION: "1.20"
  only:
    changes:
      - patches/1.20/**/*

build_1.21:
  extends: .build_update_patches_base_version
  variables:
    MINOR_VERSION: "1.21"

test_apply_patches_1.21:
  extends: .test_apply_patches
  variables:
    MINOR_VERSION: "1.21"

test_unit_1.21:
  extends: .test_unit
  variables:
    MINOR_VERSION: "1.21"
  only:
    changes:
      - patches/1.21/**/*

build_1.22:
  extends: .build_update_patches_base_version
  variables:
    MINOR_VERSION: "1.22"

test_apply_patches_1.22:
  extends: .test_apply_patches
  variables:
    MINOR_VERSION: "1.22"

test_unit_1.22:
  extends: .test_unit
  variables:
    MINOR_VERSION: "1.22"
  only:
    changes:
      - patches/1.22/**/*

build_1.23:
  extends: .build_update_patches_base_version
  variables:
    MINOR_VERSION: "1.23"

test_apply_patches_1.23:
  extends: .test_apply_patches
  variables:
    MINOR_VERSION: "1.23"

test_unit_1.23:
  extends: .test_unit
  variables:
    MINOR_VERSION: "1.23"
  only:
    changes:
      - patches/1.23/**/*

address review comments
  patches/1.24/1-private/0020-EKS-PRIVATE-Optional-maximum-etcd-page-size-on-every.patch
Due: none

Add 1.22 public patch for apiserver gzip level change
  patches/1.22/0-public/0013-EKS-PATCH-Reduce-default-gzip-compression-level-from.patch
  patches/1.22/1-private/0014-EKS-PRIVATE-Added-allowlist-CIDR-flag-use-klog.patch
  patches/1.22/1-private/0015-EKS-PRIVATE-Added-support-for-external-JWT-signing-a.patch
  patches/1.22/1-private/0016-EKS-PRIVATE-Add-Fargate-support-for-EKS-1.17.patch
  patches/1.22/1-private/0017-EKS-PRIVATE-efs-volume-validation-in-Kubelet.patch
  patches/1.22/1-private/0018-EKS-PRIVATE-Exposed-etcd-client-auto-sync-as-kube-ap.patch
  patches/1.22/1-private/0019-EKS-PRIVATE-apiserver-healthz-upper-log-verbosity-fo.patch
  patches/1.22/1-private/0020-EKS-PRIVATE-Check-token-issuer-before-calling-key-se.patch
  patches/1.22/1-private/0021-EKS-PRIVATE-Delete-expiration-cache-log-statement.patch
  patches/1.22/1-private/0022-EKS-PRIVATE-Optional-maximum-etcd-page-size-on-every.patch
  patches/1.22/1-private/0023-EKS-PRIVATE-Add-patch-that-limits-http2-canonicalize.patch
Due: test_unit_1.22

Add 1.21 public patch for apiserver gzip level change
  patches/1.21/0-public/0016-EKS-PATCH-Reduce-default-gzip-compression-level-from.patch
  patches/1.21/1-private/0017-EKS-PATCH-Added-allowlist-CIDR-flag-use-klog.patch
  patches/1.21/1-private/0018-EKS-PATCH-Added-support-for-external-JWT-signing-and.patch
  patches/1.21/1-private/0019-EKS-PATCH-Add-Fargate-support-for-EKS-1.17-owner-sar.patch
  patches/1.21/1-private/0020-EKS-PATCH-efs-volume-validation-in-Kubelet.patch
  patches/1.21/1-private/0021-EKS-PATCH-Exposed-etcd-client-auto-sync-as-kube-apis.patch
  patches/1.21/1-private/0022-EKS-PATCH-apiserver-healthz-upper-log-verbosity-for-.patch
  patches/1.21/1-private/0023-EKS-PATCH-Check-token-issuer-before-calling-key-serv.patch
  patches/1.21/1-private/0024-EKS-PRIVATE-Optional-maximum-etcd-page-size-on-every.patch
  patches/1.21/1-private/0025-EKS-PRIVATE-Add-patch-that-limits-http2-canonicalize.patch
Due: test_unit_1.21

Add 1.20 public patch for apiserver gzip level change
  patches/1.20/0-public/0019-EKS-PATCH-Reduce-default-gzip-compression-level-from.patch
  patches/1.20/1-private/0020-EKS-PRIVATE-apiserver-healthz-upper-log-verbosity-fo.patch
  patches/1.20/1-private/0021-EKS-PRIVATE-Added-allowlist-CIDR-flag-use-klog.patch
  patches/1.20/1-private/0022-EKS-PRIVATE-Added-support-for-external-JWT-signing-a.patch
  patches/1.20/1-private/0023-EKS-PRIVATE-Add-Fargate-support-for-EKS-1.17.patch
  patches/1.20/1-private/0024-EKS-PRIVATE-efs-volume-validation-in-Kubelet.patch
  patches/1.20/1-private/0025-EKS-PRIVATE-Exposed-etcd-client-auto-sync-as-kube-ap.patch
  patches/1.20/1-private/0026-EKS-PRIVATE-Block-connectivity-to-0.0.0.0-IP-from-AP.patch
  patches/1.20/1-private/0027-EKS-PRIVATE-Fix-ordering-of-proxyTransport-creation.patch
  patches/1.20/1-private/0028-EKS-PRIVATE-Set-DefaultProxyCIDRAllowlist-same-as-ot.patch
  patches/1.20/1-private/0029-EKS-PRIVATE-allow-override-of-kube-proxy-base-image.patch
  patches/1.20/1-private/0030-EKS-PRIVATE-Fix-TestAddFlags-proxy-cidr-whitelist-ca.patch
  patches/1.20/1-private/0031-EKS-PRIVATE-Fix-TestTokenGenerateAndValidate-externa.patch
  patches/1.20/1-private/0032-EKS-PRIVATE-Add-proxy-cidr-allowlist-integration-tes.patch
  patches/1.20/1-private/0033-EKS-PRIVATE-Check-token-issuer-before-calling-key-se.patch
  patches/1.20/1-private/0034-EKS-PRIVATE-Optional-maximum-etcd-page-size-on-every.patch
  patches/1.20/1-private/0035-EKS-PRIVATE-Add-patch-that-limits-http2-canonicalize.patch
Due: test_unit_1.20

Update to 1.22.15 and fix proxy CIDR patch conflict (also reverts 2850605c)
  patches/1.22/0-public/0013-EKS-PATCH-Reduce-default-gzip-compression-level-from.patch
  patches/1.22/1-private/0013-EKS-PRIVATE-Added-allowlist-CIDR-flag-use-klog.patch
  patches/1.22/1-private/0014-EKS-PRIVATE-Added-support-for-external-JWT-signing-a.patch
  patches/1.22/1-private/0015-EKS-PRIVATE-Add-Fargate-support-for-EKS-1.17.patch
  patches/1.22/1-private/0016-EKS-PRIVATE-efs-volume-validation-in-Kubelet.patch
  patches/1.22/1-private/0017-EKS-PRIVATE-Exposed-etcd-client-auto-sync-as-kube-ap.patch
  patches/1.22/1-private/0018-EKS-PRIVATE-apiserver-healthz-upper-log-verbosity-fo.patch
  patches/1.22/1-private/0019-EKS-PRIVATE-Check-token-issuer-before-calling-key-se.patch
  patches/1.22/1-private/0020-EKS-PRIVATE-Delete-expiration-cache-log-statement.patch
  patches/1.22/1-private/0021-EKS-PRIVATE-Optional-maximum-etcd-page-size-on-every.patch
  patches/1.22/1-private/0022-EKS-PRIVATE-Add-patch-that-limits-http2-canonicalize.patch
  patches/1.22/GIT_TAG
Due: test_unit_1.22

Update to 1.23.12 and fix proxy CIDR patch conflict
  patches/1.23/1-private/0013-EKS-PRIVATE-Added-allowlist-CIDR-flag-use-klog.patch
  patches/1.23/GIT_TAG
Due: test_unit_1.23

Fix patch version MR not being created if branch doesn't exist yet
  hack/create_gitlab_merge_request.sh
Due: none

Tweak create_gitlab_merge_request.sh logs
  hack/create_gitlab_merge_request.sh
Due: none

create public patch for github.com/kubernetes/kubernetes/pull/101151
  patches/1.21/0-public/0017-EKS-PATCH-Add-node-high-priority-level.patch
  patches/1.21/1-private/0018-EKS-PRIVATE-Added-allowlist-CIDR-flag-use-klog.patch
  patches/1.21/1-private/0019-EKS-PRIVATE-Added-support-for-external-JWT-signing-a.patch
  patches/1.21/1-private/0020-EKS-PRIVATE-Add-Fargate-support-for-EKS-1.17-owner-s.patch
  patches/1.21/1-private/0021-EKS-PRIVATE-efs-volume-validation-in-Kubelet.patch
  patches/1.21/1-private/0022-EKS-PRIVATE-Exposed-etcd-client-auto-sync-as-kube-ap.patch
  patches/1.21/1-private/0023-EKS-PRIVATE-apiserver-healthz-upper-log-verbosity-fo.patch
  patches/1.21/1-private/0024-EKS-PRIVATE-Check-token-issuer-before-calling-key-se.patch
  patches/1.21/1-private/0025-EKS-PRIVATE-Optional-maximum-etcd-page-size-on-every.patch
  patches/1.21/1-private/0026-EKS-PRIVATE-Add-patch-that-limits-http2-canonicalize.patch
Due: test_unit_1.21

Applying upstream hotfix to EKS Kubernetes 1.20
  patches/1.20/0-public/0020-EKS-PATCH-Add-node-high-priority-level.patch
  patches/1.20/1-private/0021-EKS-PRIVATE-apiserver-healthz-upper-log-verbosity-fo.patch
  patches/1.20/1-private/0022-EKS-PRIVATE-Added-allowlist-CIDR-flag-use-klog.patch
  patches/1.20/1-private/0023-EKS-PRIVATE-Added-support-for-external-JWT-signing-a.patch
  patches/1.20/1-private/0024-EKS-PRIVATE-Add-Fargate-support-for-EKS-1.17.patch
  patches/1.20/1-private/0025-EKS-PRIVATE-efs-volume-validation-in-Kubelet.patch
  patches/1.20/1-private/0026-EKS-PRIVATE-Exposed-etcd-client-auto-sync-as-kube-ap.patch
  patches/1.20/1-private/0027-EKS-PRIVATE-Block-connectivity-to-0.0.0.0-IP-from-AP.patch
  patches/1.20/1-private/0028-EKS-PRIVATE-Fix-ordering-of-proxyTransport-creation.patch
  patches/1.20/1-private/0029-EKS-PRIVATE-Set-DefaultProxyCIDRAllowlist-same-as-ot.patch
  patches/1.20/1-private/0030-EKS-PRIVATE-allow-override-of-kube-proxy-base-image.patch
  patches/1.20/1-private/0031-EKS-PRIVATE-Fix-TestAddFlags-proxy-cidr-whitelist-ca.patch
  patches/1.20/1-private/0032-EKS-PRIVATE-Fix-TestTokenGenerateAndValidate-externa.patch
  patches/1.20/1-private/0033-EKS-PRIVATE-Add-proxy-cidr-allowlist-integration-tes.patch
  patches/1.20/1-private/0034-EKS-PRIVATE-Check-token-issuer-before-calling-key-se.patch
  patches/1.20/1-private/0035-EKS-PRIVATE-Optional-maximum-etcd-page-size-on-every.patch
  patches/1.20/1-private/0036-EKS-PRIVATE-Add-patch-that-limits-http2-canonicalize.patch
Due: test_unit_1.20

Apply upstream fixes in 1.21 for security issues CVE-2022-3172 and CVE-2021-25749
  patches/1.21/0-public/0018-EKS-PATCH-Windows-ensure-runAsNonRoot-does-case-inse.patch
  patches/1.21/0-public/0019-EKS-PATCH-Add-an-option-for-aggregator.patch
  patches/1.21/0-public/0020-EKS-PATCH-Limit-redirect-proxy-handling-to-redirecte.patch
  patches/1.21/1-private/0021-EKS-PRIVATE-Added-allowlist-CIDR-flag-use-klog.patch
  patches/1.21/1-private/0022-EKS-PRIVATE-Added-support-for-external-JWT-signing-a.patch
  patches/1.21/1-private/0023-EKS-PRIVATE-Add-Fargate-support-for-EKS-1.17-owner-s.patch
  patches/1.21/1-private/0024-EKS-PRIVATE-efs-volume-validation-in-Kubelet.patch
  patches/1.21/1-private/0025-EKS-PRIVATE-Exposed-etcd-client-auto-sync-as-kube-ap.patch
  patches/1.21/1-private/0026-EKS-PRIVATE-apiserver-healthz-upper-log-verbosity-fo.patch
  patches/1.21/1-private/0027-EKS-PRIVATE-Check-token-issuer-before-calling-key-se.patch
  patches/1.21/1-private/0028-EKS-PRIVATE-Optional-maximum-etcd-page-size-on-every.patch
  patches/1.21/1-private/0029-EKS-PRIVATE-Add-patch-that-limits-http2-canonicalize.patch
Due: test_unit_1.21

Apply upstream fixes in 1.20 for security issues CVE-2022-3172 and CVE-2021-25749
  .gitlab-ci.yml
  patches/1.20/0-public/0021-EKS-PATCH-Allow-uncertain-mount-tests-to-run-paralle.patch
  patches/1.20/0-public/0022-EKS-PATCH-Windows-ensure-runAsNonRoot-does-case-inse.patch
  patches/1.20/0-public/0023-EKS-PATCH-Add-an-option-for-aggregator.patch
  patches/1.20/0-public/0024-EKS-PATCH-Limit-redirect-proxy-handling-to-redirecte.patch
  patches/1.20/1-private/0025-EKS-PRIVATE-apiserver-healthz-upper-log-verbosity-fo.patch
  patches/1.20/1-private/0026-EKS-PRIVATE-Added-allowlist-CIDR-flag-use-klog.patch
  patches/1.20/1-private/0027-EKS-PRIVATE-Added-support-for-external-JWT-signing-a.patch
  patches/1.20/1-private/0028-EKS-PRIVATE-Add-Fargate-support-for-EKS-1.17.patch
  patches/1.20/1-private/0029-EKS-PRIVATE-efs-volume-validation-in-Kubelet.patch
  patches/1.20/1-private/0030-EKS-PRIVATE-Exposed-etcd-client-auto-sync-as-kube-ap.patch
  patches/1.20/1-private/0031-EKS-PRIVATE-Block-connectivity-to-0.0.0.0-IP-from-AP.patch
  patches/1.20/1-private/0032-EKS-PRIVATE-Fix-ordering-of-proxyTransport-creation.patch
  patches/1.20/1-private/0033-EKS-PRIVATE-Set-DefaultProxyCIDRAllowlist-same-as-ot.patch
  patches/1.20/1-private/0034-EKS-PRIVATE-allow-override-of-kube-proxy-base-image.patch
  patches/1.20/1-private/0035-EKS-PRIVATE-Fix-TestAddFlags-proxy-cidr-whitelist-ca.patch
  patches/1.20/1-private/0036-EKS-PRIVATE-Fix-TestTokenGenerateAndValidate-externa.patch
  patches/1.20/1-private/0037-EKS-PRIVATE-Add-proxy-cidr-allowlist-integration-tes.patch
  patches/1.20/1-private/0038-EKS-PRIVATE-Check-token-issuer-before-calling-key-se.patch
  patches/1.20/1-private/0039-EKS-PRIVATE-Optional-maximum-etcd-page-size-on-every.patch
  patches/1.20/1-private/0040-EKS-PRIVATE-Add-patch-that-limits-http2-canonicalize.patch
Due: test_unit_1.20

Remove integration test of adding an option for aggregator
  patches/1.21/0-public/0019-EKS-PATCH-Add-an-option-for-aggregator.patch
Due: test_unit_1.21

Remove integration test of adding an option for aggregator
  patches/1.20/0-public/0023-EKS-PATCH-Add-an-option-for-aggregator.patch
Due: test_unit_1.20

Update patch descriptions for CVE-2022-3172 patches
  patches/1.20/0-public/0023-EKS-PATCH-Add-an-option-for-aggregator.patch
  patches/1.20/0-public/0024-EKS-PATCH-Limit-redirect-proxy-handling-to-redirecte.patch
  patches/1.21/0-public/0019-EKS-PATCH-Add-an-option-for-aggregator.patch
  patches/1.21/0-public/0020-EKS-PATCH-Limit-redirect-proxy-handling-to-redirecte.patch
Due: test_unit_1.20, test_unit_1.21

Update aws-sdk-go from v1.42.23 to v1.44.107 for kubernetes v1.21.14
  patches/1.21/0-public/0018-EKS-PATCH-Windows-ensure-runAsNonRoot-does-case-inse.patch
  patches/1.21/0-public/0019-EKS-PATCH-Add-an-option-for-aggregator.patch
  patches/1.21/0-public/0020-EKS-PATCH-Limit-redirect-proxy-handling-to-redirecte.patch
  patches/1.21/0-public/0021-EKS-PATCH-update-aws-sdk-go-from-v1.42.23-to-v1.44.1.patch
  patches/1.21/1-private/0022-EKS-PRIVATE-Added-allowlist-CIDR-flag-use-klog.patch
  patches/1.21/1-private/0023-EKS-PRIVATE-Added-support-for-external-JWT-signing-a.patch
  patches/1.21/1-private/0024-EKS-PRIVATE-Add-Fargate-support-for-EKS-1.17-owner-s.patch
  patches/1.21/1-private/0025-EKS-PRIVATE-efs-volume-validation-in-Kubelet.patch
  patches/1.21/1-private/0026-EKS-PRIVATE-Exposed-etcd-client-auto-sync-as-kube-ap.patch
  patches/1.21/1-private/0027-EKS-PRIVATE-apiserver-healthz-upper-log-verbosity-fo.patch
  patches/1.21/1-private/0028-EKS-PRIVATE-Check-token-issuer-before-calling-key-se.patch
  patches/1.21/1-private/0029-EKS-PRIVATE-Optional-maximum-etcd-page-size-on-every.patch
  patches/1.21/1-private/0030-EKS-PRIVATE-Add-patch-that-limits-http2-canonicalize.patch
Due: test_unit_1.21

Update aws-sdk-go from v1.42.23 to v1.44.107 for kubernetes v1.22.15
  patches/1.22/0-public/0013-EKS-PATCH-update-aws-sdk-go-from-v1.42.23-to-v1.44.1.patch
  patches/1.22/1-private/0014-EKS-PRIVATE-Added-allowlist-CIDR-flag-use-klog.patch
  patches/1.22/1-private/0015-EKS-PRIVATE-Added-support-for-external-JWT-signing-a.patch
  patches/1.22/1-private/0016-EKS-PRIVATE-Add-Fargate-support-for-EKS-1.17.patch
  patches/1.22/1-private/0017-EKS-PRIVATE-efs-volume-validation-in-Kubelet.patch
  patches/1.22/1-private/0018-EKS-PRIVATE-Exposed-etcd-client-auto-sync-as-kube-ap.patch
  patches/1.22/1-private/0019-EKS-PRIVATE-apiserver-healthz-upper-log-verbosity-fo.patch
  patches/1.22/1-private/0020-EKS-PRIVATE-Check-token-issuer-before-calling-key-se.patch
  patches/1.22/1-private/0021-EKS-PRIVATE-Delete-expiration-cache-log-statement.patch
  patches/1.22/1-private/0022-EKS-PRIVATE-Optional-maximum-etcd-page-size-on-every.patch
  patches/1.22/1-private/0023-EKS-PRIVATE-Add-patch-that-limits-http2-canonicalize.patch
Due: test_unit_1.22

Update aws-sdk-go from v1.42.23 to v1.44.107 for kubernetes v1.23.12
  patches/1.23/0-public/0013-EKS-PATCH-update-aws-sdk-go-from-v1.42.23-to-v1.44.1.patch
  patches/1.23/1-private/0014-EKS-PRIVATE-Added-allowlist-CIDR-flag-use-klog.patch
  patches/1.23/1-private/0015-EKS-PRIVATE-Added-support-for-external-JWT-signing-a.patch
  patches/1.23/1-private/0016-EKS-PRIVATE-Add-Fargate-support-for-EKS-1.17.patch
  patches/1.23/1-private/0017-EKS-PRIVATE-efs-volume-validation-in-Kubelet.patch
  patches/1.23/1-private/0018-EKS-PRIVATE-Exposed-etcd-client-auto-sync-as-kube-ap.patch
  patches/1.23/1-private/0019-EKS-PRIVATE-apiserver-healthz-upper-log-verbosity-fo.patch
  patches/1.23/1-private/0020-EKS-PRIVATE-Check-token-issuer-before-calling-key-se.patch
  patches/1.23/1-private/0021-EKS-PRIVATE-Delete-expiration-cache-log-statement.patch
  patches/1.23/1-private/0022-EKS-PRIVATE-Optional-maximum-etcd-page-size-on-every.patch
  patches/1.23/1-private/0023-EKS-PRIVATE-Add-patch-that-limits-http2-canonicalize.patch
  patches/1.24/0-public/0011-EKS-PATCH-Update-aws-sdk-go-from-v1.42.23-to-v1.44.1.patch
  patches/1.24/1-private/0012-EKS-PRIVATE-Added-allowlist-CIDR-flag-use-klog.patch
  patches/1.24/1-private/0013-EKS-PRIVATE-Added-support-for-external-JWT-signing-a.patch
  patches/1.24/1-private/0014-EKS-PRIVATE-Add-Fargate-support-for-EKS-1.17.patch
  patches/1.24/1-private/0015-EKS-PRIVATE-efs-volume-validation-in-Kubelet.patch
  patches/1.24/1-private/0016-EKS-PRIVATE-Exposed-etcd-client-auto-sync-as-kube-ap.patch
  patches/1.24/1-private/0017-EKS-PRIVATE-apiserver-healthz-upper-log-verbosity-fo.patch
  patches/1.24/1-private/0018-EKS-PRIVATE-Check-token-issuer-before-calling-key-se.patch
  patches/1.24/1-private/0019-EKS-PRIVATE-Delete-expiration-cache-log-statement.patch
  patches/1.24/1-private/0020-EKS-PRIVATE-Add-patch-that-limits-http2-canonicalize.patch
  patches/1.24/1-private/0021-EKS-PRIVATE-Optional-maximum-etcd-page-size-on-every.patch
Due: test_unit_1.23

Fixed vendor SDK patch for 1.23
  patches/1.23/0-public/0013-EKS-PATCH-update-aws-sdk-go-from-v1.42.23-to-v1.44.1.patch
  patches/1.23/1-private/0015-EKS-PRIVATE-Added-support-for-external-JWT-signing-a.patch
Due: test_unit_1.23

Fixed vendor in SDK patch for 1.24
  patches/1.24/0-public/0011-EKS-PATCH-Update-aws-sdk-go-from-v1.42.23-to-v1.44.1.patch
  patches/1.24/1-private/0013-EKS-PRIVATE-Added-support-for-external-JWT-signing-a.patch
Due: none

Fixed vendor SDK patch for 1.21
  patches/1.21/0-public/0021-EKS-PATCH-update-aws-sdk-go-from-v1.42.23-to-v1.44.1.patch
  patches/1.21/1-private/0023-EKS-PRIVATE-Added-support-for-external-JWT-signing-a.patch
Due: test_unit_1.21

Fixed vendor SDK patch for 1.22
  patches/1.22/0-public/0013-EKS-PATCH-update-aws-sdk-go-from-v1.42.23-to-v1.44.1.patch
  patches/1.22/1-private/0015-EKS-PRIVATE-Added-support-for-external-JWT-signing-a.patch
Due: test_unit_1.22

Block leadership in impacted AZ during zonal outage
  .gitlab-ci.yml
  patches/1.24/1-private/0022-EKS-PRIVATE-Patch-for-blocking-lease-in-impacted-zon.patch
Due: none

update tags to run on larger cpu
  .gitlab-ci.yml
Due: none

1.24: Validate etcd paths
  patches/1.24/1-private/0022-EKS-PRIVATE-Validate-etcd-paths.patch
Due: none

Remove large tag, none of the group runners are tagged "large"
  .gitlab-ci.yml
Due: none

Update 1.23 patches base version to v1.23.13
  patches/1.23/GIT_TAG
Due: test_unit_1.23

Revert "Remove large tag, none of the group runners are tagged "large""
  .gitlab-ci.yml
Due: none

Unit test on amd64 only because script downloads golang amd64 currently
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml file: replace only/except with rules
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml file: fix rules being OR'd not AND'd
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml file: fix workflow rules being too strict per https://docs.gitlab.com/ee/ci/yaml/workflow.html#workflow-rules-examples
  .gitlab-ci.yml
Due: none

1.24: Use raw string concatenation to join etcd prefix
  patches/1.24/1-private/0022-EKS-PRIVATE-Patch-for-blocking-lease-in-impacted-zon.patch
  patches/1.24/1-private/0023-EKS-PRIVATE-Validate-etcd-paths.patch
  patches/1.24/1-private/0024-EKS-PRIVATE-Use-raw-string-concatenation-to-join-etc.patch
Due: none

migrate lease and endpoint patches to 1.20-1.23
  patches/1.21/1-private/0031-EKS-PRIVATE-Patch-for-blocking-lease-in-impacted-zon.patch
  patches/1.21/1-private/0032-EKS-PRIVATE-Patch-for-apiserver-endpoint-weigh-away-.patch
  patches/1.22/1-private/0024-EKS-PRIVATE-Patch-for-blocking-lease-in-impacted-zon.patch
  patches/1.22/1-private/0025-EKS-PRIVATE-Patch-for-apiserver-endpoint-weigh-away-.patch
  patches/1.23/1-private/0024-EKS-PRIVATE-Patch-for-blocking-lease-in-impacted-zon.patch
  patches/1.23/1-private/0025-EKS-PRIVATE-Patch-for-apiserver-endpoint-weigh-away-.patch
Due: test_unit_1.21, test_unit_1.22, test_unit_1.23

Weigh away kubernetes service endpoint during zonal outage
  patches/1.24/1-private/0022-EKS-PRIVATE-Validate-etcd-paths.patch
  patches/1.24/1-private/0023-EKS-PRIVATE-Patch-for-blocking-lease-in-impacted-zon.patch
  patches/1.24/1-private/0025-EKS-PRIVATE-Patch-for-apiserver-endpoint-weigh-away-.patch
Due: none
