Repository Swizzmaster/kubernetes: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_unit_1.20, test_unit_1.21, test_unit_1.22, test_unit_1.23

test_unit_1.20:
  image: ubuntu:latest
  before_script:
  - apt-get update && apt-get install git -q -y
  - - git config --global user.email "eks-dataplane-team@amazon.com"
    - git config --global user.name "EKSKubernetesPatches pipeline"
    - mkdir -p ./kubernetes/
  variables:
    KUBERNETES_SERVICE_HOST: ''
  ...

test_unit_1.21:
  image: ubuntu:latest
  before_script:
  - apt-get update && apt-get install git -q -y
  - - git config --global user.email "eks-dataplane-team@amazon.com"
    - git config --global user.name "EKSKubernetesPatches pipeline"
    - mkdir -p ./kubernetes/
  variables:
    KUBERNETES_SERVICE_HOST: ''
  ...

test_unit_1.22:
  image: ubuntu:latest
  before_script:
  - apt-get update && apt-get install git -q -y
  - - git config --global user.email "eks-dataplane-team@amazon.com"
    - git config --global user.name "EKSKubernetesPatches pipeline"
    - mkdir -p ./kubernetes/
  variables:
    KUBERNETES_SERVICE_HOST: ''
  ...

test_unit_1.23:
  image: ubuntu:latest
  before_script:
  - apt-get update && apt-get install git -q -y
  - - git config --global user.email "eks-dataplane-team@amazon.com"
    - git config --global user.name "EKSKubernetesPatches pipeline"
    - mkdir -p ./kubernetes/
  variables:
    KUBERNETES_SERVICE_HOST: ''
  ...

Fix #110706 patch naming
  patches/1.20/0-public/0017-EKS-PATCH-Skip-mount-point-checks-when-possible-duri.patch
  patches/1.21/0-public/0013-EKS-PATCH-Skip-mount-point-checks-when-possible-duri.patch
  patches/1.22/0-public/0010-EKS-PATCH-Skip-mount-point-checks-when-possible-duri.patch
  patches/1.23/0-public/0011-EKS-PATCH-Add-rate-limiting-when-calling-STS-assume-role-API.patch
Due: test_unit_1.20, test_unit_1.21, test_unit_1.22, test_unit_1.23

Regenerate 1.22 patches
  patches/1.22/0-public/0009-EKS-PATCH-Add-rate-limiting-when-calling-STS-assume-.patch
  patches/1.22/0-public/0010-EKS-PATCH-Update-naming-for-a-const.patch
  patches/1.22/0-public/0011-EKS-PATCH-Skip-mount-point-checks-when-possible-duri.patch
  patches/1.22/1-private/0012-EKS-PRIVATE-Added-allowlist-CIDR-flag-use-klog.patch
  patches/1.22/1-private/0013-EKS-PRIVATE-Added-support-for-external-JWT-signing-a.patch
  patches/1.22/1-private/0014-EKS-PRIVATE-Add-Fargate-support-for-EKS-1.17.patch
  patches/1.22/1-private/0015-EKS-PRIVATE-efs-volume-validation-in-Kubelet.patch
  patches/1.22/1-private/0016-EKS-PRIVATE-Exposed-etcd-client-auto-sync-as-kube-ap.patch
  patches/1.22/1-private/0017-EKS-PRIVATE-apiserver-healthz-upper-log-verbosity-fo.patch
  patches/1.22/1-private/0018-EKS-PRIVATE-Check-token-issuer-before-calling-key-se.patch
  patches/1.22/1-private/0019-EKS-PRIVATE-Delete-expiration-cache-log-statement.patch
  patches/1.22/1-private/0020-EKS-PRIVATE-Optional-maximum-etcd-page-size-on-every.patch
  patches/1.22/1-private/0021-EKS-PRIVATE-Add-patch-that-limits-http2-canonicalize.patch
Due: test_unit_1.22

Remove upstreamed patches 5,6
  patches/1.24/0-public/0005-EKS-PATCH-extend-sa-token-if-audience-is-apiserver-1.patch
  patches/1.24/0-public/0006-EKS-PATCH-Parse-ipv6-address-before-comparison-10773.patch
Due: none

Resolve patch 14
  patches/1.24/1-private/0014-EKS-PRIVATE-Added-support-for-external-JWT-signing-a.patch
Due: none

Resolve patch 13
  patches/1.24/1-private/0013-EKS-PRIVATE-Added-allowlist-CIDR-flag-use-klog.patch
Due: none

Resolve patch 15
  patches/1.24/1-private/0015-EKS-PRIVATE-Add-Fargate-support-for-EKS-1.17.patch
Due: none

resolve merge conflict patch 16
  patches/1.24/1-private/0016-EKS-PRIVATE-efs-volume-validation-in-Kubelet.patch
Due: none

resolve merge conflict patch 22
  patches/1.24/1-private/0022-EKS-PRIVATE-Add-patch-that-limits-http2-canonicalize.patch
Due: none

temporarily delete patch 0021-EKS-PRIVATE-Optional-maximum-etcd-page-size-on-every.patch until merge conflict resolved
  patches/1.24/1-private/0021-EKS-PRIVATE-Optional-maximum-etcd-page-size-on-every.patch
Due: none

update 1.24 git_tag
  patches/1.24/GIT_TAG
Due: none

resolve merge conflict patch 17
  patches/1.24/1-private/0017-EKS-PRIVATE-Exposed-etcd-client-auto-sync-as-kube-ap.patch
Due: none

add CI pipeline for 1.24
  .gitlab-ci.yml
Due: none

Rewrite 'Rebasing Patches on a New Kubernetes Version' to be clearer like a runbook
  README.md
Due: none

Resume patching from one after the patch that failed
  README.md
Due: none

Add 'what happens after patches merge' section for people who want changes in the next EKS manifest
  README.md
Due: none

Minor change to readme
  README.md
Due: none

Added Overlaid-OS-s-environment-variables... patch to 1.22
  patches/1.22/0-public/0012-EKS-PATCH-Overlaid-OS-s-environment-variables-with-t.patch
  patches/1.22/1-private/0013-EKS-PRIVATE-Added-allowlist-CIDR-flag-use-klog.patch
  patches/1.22/1-private/0014-EKS-PRIVATE-Added-support-for-external-JWT-signing-a.patch
  patches/1.22/1-private/0015-EKS-PRIVATE-Add-Fargate-support-for-EKS-1.17.patch
  patches/1.22/1-private/0016-EKS-PRIVATE-efs-volume-validation-in-Kubelet.patch
  patches/1.22/1-private/0017-EKS-PRIVATE-Exposed-etcd-client-auto-sync-as-kube-ap.patch
  patches/1.22/1-private/0018-EKS-PRIVATE-apiserver-healthz-upper-log-verbosity-fo.patch
  patches/1.22/1-private/0019-EKS-PRIVATE-Check-token-issuer-before-calling-key-se.patch
  patches/1.22/1-private/0020-EKS-PRIVATE-Delete-expiration-cache-log-statement.patch
  patches/1.22/1-private/0021-EKS-PRIVATE-Optional-maximum-etcd-page-size-on-every.patch
  patches/1.22/1-private/0022-EKS-PRIVATE-Add-patch-that-limits-http2-canonicalize.patch
Due: test_unit_1.22

Force push when auto-updating/creating patch version MR
  hack/create_gitlab_merge_request.sh
Due: none

Force push without lease (pipeline should be the only one touching branch)
  hack/create_gitlab_merge_request.sh
Due: none

Do not run tests in scheduled pipelines
  .gitlab-ci.yml
Due: none

Update 1.23 patches base version to v1.23.10
  patches/1.23/GIT_TAG
Due: test_unit_1.23

Update 1.22 patches base version to v1.22.13
  patches/1.22/GIT_TAG
Due: test_unit_1.22

Only force push if pipeline was last committer
  hack/create_gitlab_merge_request.sh
Due: none

Fix 1.22.13 patches again
  patches/1.22/1-private/0017-EKS-PRIVATE-Exposed-etcd-client-auto-sync-as-kube-ap.patch
  patches/1.22/1-private/0021-EKS-PRIVATE-Optional-maximum-etcd-page-size-on-every.patch
Due: test_unit_1.22

Fix patches for 1.23.10 again
  patches/1.23/1-private/0017-EKS-PRIVATE-Exposed-etcd-client-auto-sync-as-kube-ap.patch
  patches/1.23/1-private/0021-EKS-PRIVATE-Optional-maximum-etcd-page-size-on-every.patch
Due: test_unit_1.23

Fix remote origin already exists
  hack/create_gitlab_merge_request.sh
Due: none

Don't add remote unless needed
  hack/create_gitlab_merge_request.sh
Due: none

fix conflicts in 1.24-etcd-paging patch
  patches/1.24/1-private/0020-EKS-PRIVATE-Optional-maximum-etcd-page-size-on-every.patch
Due: none

Path conditions:
  test_unit_1.20: any of: patches/1.20/**/*
  test_unit_1.21: any of: patches/1.21/**/*
  test_unit_1.22: any of: patches/1.22/**/*
  test_unit_1.23: any of: patches/1.23/**/*
